.top-song-card {
    background-color: #282525;
    box-shadow: 6px 6px 3px -2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 700px;

    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 52px 0.2fr auto;
    gap:2px;
}

.card-header {
    grid-column: 1 / 4;
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid rgb(255, 255, 255);
    box-sizing: border-box;
    padding-top: 7px;
}

.song-list {
    margin-top: 30px;
    margin-bottom: 30px;
    grid-column: 1 / 4;
    /* background-color: rgba(0, 0, 255, 0.148); */
    height:px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px
}

.card-button-s {
    background-color:#302d2d;
    color: white;
}

.card-button-s-selected {
    background-color:#302d2d;
    color: white;
    outline: 4px auto -webkit-focus-ring-color;
}
